<section>
	<div class="search-bar">
	  <input ng-model="noteSearch" type="search" placeholder="Search notes" class="topcoat-search-input search-key search-notes">
	</div>

  <div class="topcoat-list__container scroller notes">
		<ul class="topcoat-list__list">
		  <li ng-repeat="note in notes | filter:noteSearch" class="topcoat-list__item">
		  	<a>
			    <p>{{ note.title }}</p>
			    <p>{{ note.snippet }}</p>
			    <span class="chevron"></span>
			  </a>
		  </li>
		</ul>
  </div>
</section>