/* line 3, ../../sass/styles.scss */
.search-bar {
  padding: 10px 10px 12px 8px;
}

/* line 7, ../../sass/styles.scss */
.search-notes {
  width: 100%;
}

/* line 11, ../../sass/styles.scss */
.scroller.notes {
  margin-top: 10px;
}

/* line 15, ../../sass/styles.scss */
.chevron {
  background: transparent url(../img/next_blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 22px;
  height: 50px;
  width: 28px;
}

/* line 28, ../../sass/styles.scss */
.topcoat-list__item {
  position: relative;
  clear: both;
  padding: 0px;
  margin: 0px;
  padding: 5px 5px 0 5px;
}
/* line 35, ../../sass/styles.scss */
.topcoat-list__item > a {
  margin: 0px;
  display: block;
  height: 57px;
  padding: 4px;
}
/* line 41, ../../sass/styles.scss */
.topcoat-list__item > a p:nth-of-type(1) {
  font-weight: bold;
}

/* line 49, ../../sass/styles.scss */
.note-edit {
  width: 100%;
}

/* line 53, ../../sass/styles.scss */
#note-show {
  padding: 10px;
}

/* line 57, ../../sass/styles.scss */
#note-title-input {
  font-size: 200%;
  font-weight: bold;
}

/* line 62, ../../sass/styles.scss */
#note-md-switch {
  padding: 10px;
}
/* line 65, ../../sass/styles.scss */
#note-md-switch p {
  position: absolute;
  margin: -45px 0 0 110px;
  font-weight: bold;
  font-size: 200%;
  color: #797B7B;
}
